<div ng-controller="AddItemCtrl">
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <div class="container-fluid" style="padding: 50px;">

        <h1> {{ title }}</h1>

        <form role="form">
            <div class="form-group">
                <label for="image">Images</label>

                <div class="">
                    <div class="row">
                        <div ng-repeat="image in uploadedImages">
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img data-src="{{image.location}}" alt="" src="{{image.location}}"
                                         style="display: block;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="file"
                       id="image"
                       ng-file-select="onFileSelect($files)"
                       multiple>

                <p class="help-block">Please select image from your computer.
                    <!--<label class="label label-danger" ng-click="renderUploadedImages()">Preview Images</label>-->
                </p>
                <!--<div ng-file-drop="onFileSelect($files)"-->
                <!--ng-file-drag-over-class="optional-css-class"-->
                <!--ng-show="dropSupported">Drop files here-->
                <!--</div>-->
                <!--<div ng-file-drop-available="dropSupported=true"-->
                <!--ng-show="!dropSupported">Fuck You-->
                <!--</div>-->
                <!--<button class="btn btn-danger"-->
                <!--ng-click="upload.abort()">-->
                <!--Cancel Upload-->
                <!--</button>-->
            </div>


            <div style="max-width: 500px;">
                <div class="form-group">
                    <label>Brand Name</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter brand name"
                           ng-model="item.brandName">
                </div>
                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter item name"
                           ng-model="item.name">
                </div>
                <div class="form-group">
                    <label>Item For</label>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option1"> Woman
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option2"> Man
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option3"> Kid
                        </label>
                    </div>
                    <!--<input type="text" class="form-control" placeholder="Male, Female, Kids ">-->
                </div>
                <div class="form-group">
                    <label>Item Type</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter item type"
                           ng-model="item.itemType">
                    <p class="help-block">Item type : shoe, t-shirt etc...</p>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <!--<input type="text" class="form-control" placeholder="Male, Female, Kids ">-->
                    <select class="">
                        <option value="">Small</option>
                        <option value="">Medium</option>
                        <option value="">Large</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Male, Female, Kids "
                           ng-model="item.color">
                </div>
                <div class="form-group">
                    <label>Original Price</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Original price of item before any discount applied"
                           ng-model="item.originalPrice">
                </div>
                <div class="form-group">
                    <label>Buy Price</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Price in which you bought this item"
                           ng-model="item.buyPrice">
                </div>
                <div class="form-group">
                    <label>Sell Price</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Price in which you are selling"
                           ng-model="item.sellPrice">
                </div>
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox"> Check me out-->
                <!--</label>-->
                <!--</div>-->
                <button type="submit"
                        class="btn btn-success"
                        ng-click="saveOrder()">
                    Create Item
                </button>
            </div>
            <!--<div ng-repeat="image in images">-->
            <!--<div class="card jumbotron" data-index="20" style="-webkit-transform: translateZ(0px);"><h3>Stocks</h3>-->

            <!--<div class="qpaper full" style="box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 3px 0px;">-->
            <!--<div class="qpaper-content" style="opacity: 1;"><img src="{{image.url}}"-->
            <!--class="result-card"-->
            <!--style="width: 100%; height: auto;"></div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->

        </form>
    </div>
</div>
