<div ng-controller="AddItemCtrl">
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <div class="container-fluid" style="padding: 50px;max-width: 500px;">

        <h1> {{ message }}</h1>

        <form role="form">
            <div class="form-group">
                <label>Brand Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="Enter brand name"
                       ng-model="item.brandName">
            </div>
            <div class="form-group">
                <label>Item Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="Enter item name"
                       ng-model="item.name">
            </div>
            <div class="form-group">
                <label>Item Type</label>
                <input type="text"
                       class="form-control"
                       placeholder="Enter item type"
                       ng-model="item.itemType">
                <p class="help-block">Item type : shoe, t-shirt etc...</p>
            </div>
            <div class="form-group">
                <label>Gender</label>
                <input type="text" class="form-control" placeholder="Male, Female, Kids ">
            </div>
            <div class="form-group">
                <label>Size</label>
                <input type="text" class="form-control" placeholder="Male, Female, Kids ">
            </div>
            <div class="form-group">
                <label>Color</label>
                <input type="text"
                       class="form-control"
                       placeholder="Male, Female, Kids "
                       ng-model="item.color">
            </div>
            <div class="form-group">
                <label>Real Price</label>
                <input type="text"
                       class="form-control"
                       placeholder="Real Price"
                       ng-model="item.realPrice">
            </div>
            <div class="form-group">
                <label>Pame's Boutique Price</label>
                <input type="text"
                       class="form-control"
                       placeholder="Pame's Boutique Price"
                       ng-model="item.price">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image">
                <p class="help-block">Please select image from your computer.</p>
            </div>
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"> Check me out-->
                <!--</label>-->
            <!--</div>-->
            <button type="submit"
                    class="btn btn-success"
                    ng-click="saveOrders()">
                    Submit
            </button>

            <!--<div ng-repeat="image in images">-->
                <!--<div class="card" data-index="20" style="-webkit-transform: translateZ(0px);"><h3>Stocks</h3>-->

                    <!--<div class="qpaper full" style="box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 3px 0px;">-->
                        <!--<div class="qpaper-content" style="opacity: 1;"><img src="{{image.url}}"-->
                                                                             <!--class="result-card"-->
                                                                             <!--style="width: 100%; height: auto;"></div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->


        </form>
    </div>
</div>